@import url("https://fonts.googleapis.com/css2?family=Odibee+Sans&family=Roboto+Slab:wght@600;700&display=swap");

/* Todas las variables que declare acá van a estar accesibles en cualquier regla de css */
:root {
  --color-title: #009048;
  --color-button: #006CFC;
  --color-button-text: #D8FCFC;

}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-image: url("./assets/wallpaper.034d9032.svg");
  background-size: cover;
}

.container {
  font-family: "Roboto Slab", serif;
  height: 100vh;
}

.input {
  box-sizing: border-box;
  width: 100%;
  font-size: 45px;
  text-align: center;
  padding: 8px 0;
  border: 10px solid #182460;
  border-radius: 10px;
  margin-bottom: 16px;
}

.button {
  width: 100%;
  color: var(--color-button-text);
  padding: 8px 0;
  font-size: 45px;
  font-family: "Odibee Sans", cursive;
  background-color: var(--color-button);
  border: 10px solid #001997;
  border-radius: 10px;
}
