.waitingOpp {
  height: 86vh;
  padding: 120px 31px 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (min-width: 769px) {
  .waitingOpp {
    max-width: 500px;
    margin: 0 auto;
    padding-top: 70px;
  }
}

.waitingOpp-header {
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

@media (min-width: 769px) {
  .waitingOpp-header {
    max-width: 650px;
    margin: 0 auto;
    padding-top: 31px;
  }
}

.text2 {
  display: none;
}

.instructions__btn {
  margin-top: 40px;
}
